<!DOCTYPE html>
<html>
<head>
	<title>{{ page ['title'] }}</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/static/pastie.css" type="text/css">

	{% if meta ['style'] == 'default' %}
	<link rel="stylesheet" href="/static/default.css" type="text/css">
	{% end %}
</head>
<body>
	<div id="page">
		{% if meta ['style'] == 'default' and page ['toc'] %}
		<div id="sidebar">
			<div id="toc">
				<span class="TOC">Table of contents:</span>
				{{ page ['toc'] }}
			</div>
		</div>
		{% end %}
		<div id="content">
		{{ page ['body'] }}
		</div>
		<div id="footer">
			<div class="actions">
				<a href="/">Index</a>
				{% if meta ['style'] == 'default' %}
					<a href="{{ meta ['url'] }}?style=unstyled">Show unstyled</a>
				{% else %}
					<a href="{{ meta ['url'] }}">Show styled</a>
				{% end %}
			</div>
			<div class="info">
				Page generated in {{ meta ['generation-time'] }} ms.
			</div>
		</div>
	</div>
</body>
</html>
